@page
@model BookCar.Pages.Booking.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h4>Booking Cars</h4>
<hr />
<div class="row">
    <div class="col-md-9 font-weight-bold">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BookingCars.Name" class="control-label"></label>
                <input asp-for="BookingCars.Name" class="form-control" placeholder="Enter Name"/>
                <span asp-validation-for="BookingCars.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingCars.Contact" class="control-label"></label>
                <input asp-for="BookingCars.Contact" class="form-control" placeholder="Enter Contact"/>
                <span asp-validation-for="BookingCars.Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingCars.CarModel" class="control-label"></label>
                <input asp-for="BookingCars.CarModel" class="form-control" placeholder="Enter Car Model"/>
                <span asp-validation-for="BookingCars.CarModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BookingCars.BookingDate" class="control-label"></label>
                <input asp-for="BookingCars.BookingDate" class="form-control" placeholder="Enter Date"/>
                <span asp-validation-for="BookingCars.BookingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" type="button" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
